nav{
    align-items: center;
    background-color: #253656;
    display:flex;
    justify-content: space-evenly;
    height: 50px;
}
body{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}
a{
    color: #9f0f3b;
    font-size: 25pt;
    text-decoration: none;    
}
header{
    background-image: url("imagens/homem-aranha.jpg");
    background-size: cover;
    height: 600px;
}
section{
    background-color: #9f0f3b;
    display: flex;
    justify-content: space-evenly;
}
section div{
    width: 40%;
    text-align: center;
}
div ul{
    list-style-type: none;
    /* list-style-type: url("imagens/simbulo.jpg");*/

}
ul li:nth-child(odd){
    color: white
}
input::placeholder,button{
    font-family: 'Press Start 2P', cursive;
}
input:focus{
    background-color: #253656;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #253656;

}
button{
    background-color: #9f0f3b;
}
p{
    font-family: 'Comfortaa', cursive;
}

